REACT_APP_BUCKET=sample
REACT_APP_APIKEY=sample
REACT_APP_AUTHDOMAIN=sample
REACT_APP_DB_URL=sample
REACT_APP_PROJECTID=sample
REACT_APP_FB_BUCKET=sample
REACT_APP_MSGID=sample
REACT_APP_APID=sample
REACT_APP_MEASUREMENT_ID=sample
REACT_APP_HASURA_H_ENDPOINT=sample
